BRAINTRUST_API_KEY=
BRAINTRUST_APP_URL=https://www.braintrust.dev
BRAINTRUST_PROXY_API_BASE=https://braintrustproxy.com/v1
FACET_OPTIMIZER_PROJECT=Facet Optimizer
FACET_OPTIMIZER_DATASET=
FACET_OPTIMIZER_PROMPT_PATH=
FACET_OPTIMIZER_MODEL=brain-facet-1

